body {
    display: grid;
    grid-gap: 1em;
    background-image: url(../myndir/gtaW.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.vinstri{
    grid-area: vinstri;
}
.haegri{
    grid-area: haegri;
}
.fyll{
    grid-area: fyll;
}
.topp{
    grid-area: topp;
}
.content{
    display: grid;
    grid-gap:0;
    grid-template-areas: 
        "fyll topp"
        "fyll haegri"
        "fyll vinstri"; 
    grid-template-columns: 1fr 1fr 1fr;
}
.haegri,.vinstri,.topp{
    color: rgb(255, 255, 255);
    padding: 0 1em ;
    background: rgba(0, 0, 0, 0.425) ;
    
}
.topp{
    font-size: 2em;
}

